
@media screen and (max-width: 1501px) {

	#sidebar {
	display: none;
	}

}


@media screen and (max-width: 10000px) {

	.GSlogin {
		text-decoration: none;
		top:26%;
		float:right;
		position:relative;
		font-weight:bold;
		font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
		color:white;
		font-size:1.7em;
		margin-right: 25px;
	}
	
	.GShome {
		text-decoration: none;
		top:26%;
		float:right;
		position:relative;
		font-weight:bold;
		font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
		color:white;
		font-size:1.7em;
		margin-right: 7%;
	}
}

@media screen and (max-width: 700px) {

	.GSlogin {
		text-decoration: none;
		top:26%;
		float:right;
		position:relative;
		font-weight:bold;
		font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
		color:white;
		font-size:1.7em;
		margin-right: 10px;
	}
	
	.GShome {
		text-decoration: none;
		top:26%;
		float:right;
		position:relative;
		font-weight:bold;
		font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
		color:white;
		font-size:1.7em;
		margin-right: 5%;
	}
}

#darkmode-background{
	background-color:#dadada;
}

::selection {
	color: white;
	background: #92c0eb;
}

.darkmode--activated > * {
	color: rgb(255, 255, 255);
}


body.darkmode--activated {
	color: rgb(92, 92, 92);
}

@media screen and (max-width: 100000px) {
	.darkmode-toggle {
		z-index:10;
		font-weight:bold;
		font-size:0.8em;
		color:white;
	}
}
@media screen and (max-width: 725px) {
	.darkmode-toggle {
		display: none;
	}
}
.article-top {
	position:relative;
	top:100px;
}

.buttonColorDark {
	color:rgb(32, 32, 32)
}

.row {
	margin-top:100px;
	margin-right:0px;
}

.header-all {
	top:0%;
	right:0px;
	width:100%;
	margin-top:auto;
	position:inherit;
	z-index:5;
	position:fixed;
}
#content{
	width:80%;
	margin-left:150px;
	margin-right:0vw;
	margin-top:25px;
}
.text-main {
	padding:10px;
	position:relative;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}
#sidebar {
	margin-left: -80px;
}

.txtimg {
	float:right;
	margin-right:0.5vw;
}

.GSHeader-title {
	margin-top:50px;
	margin-left:160px;
	font-size:2.5em;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	z-index:1;
	
}

.underline {
	left:0.25vw;
	top:-20px;
	position:relative;
	widows: 51em;;
	height:2px;
	background-color:#6094C6;
	z-index:3;
}

.GSheader-Top {
	background-color:#6094C6;
	height:23px;
	z-index:10;
}

.GSheader-Bot {
	background-color:#537ea5;
	height:60px;
	z-index:11;
}

.col-sm-2{
	right:20px;
	max-width:250px;
}

.GSnav:hover {
	color:white;
}

.GStitle {
	color:white;
	left:140px;
	position:relative;
	float:left;
	font-size:3em;
	font-weight:bold;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	z-index:10;
}

.GSimg {
	left:-1px;
	position:fixed;
	top:-4px;
	width:145px;
	z-index:11;
}

#gs-top-home-img{
	width:100%;
}

#page-container {
	position: relative;
	min-height: 10vh;
	background-color:#6094C6;
  }
  
  #content-wrap {
	padding-bottom: 1rem;
  }
  
  #footer {
	font-size:2.5em;
	color:white;
	position: sticky;
	width: 100%;
  }
  #footer-txt {
	margin-left:4em;
	font-size:2.5em;
	color:white;
  }

  #txtdarkmode {
	  margin-left:160px;
	  color:white;
	  font-size:0.75em;
  }
  #container {
	width: 600px;
	height: auto;
  }

  button{
	  background-color: #537ea5;
	  color: white;
	  border: none;
  }

  #message-container {
	width: 80%;
	max-width: 1200px;
  }

  #message-container div {
	padding: 5px;
  }

  #send-container {
	position: fixed;
	padding-bottom: 30px;
	bottom: 0;
	max-width: 1750px;
	width: 65%;
	display: flex;
  }

  #message-input {
	flex-grow: 1;
  }